*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;

}
body{
  background:#000000;
  background-size: cover;
  height: 100vh;
  background-position: center;
  overflow-x: hidden;
}
header{
  width: 100%;
  height: 100px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 10px #000;
  background: rgba(0,0,0,0.5);
}
header h2{
  margin-left: 20px;
  margin-bottom: 30px;
}
#chk1{
  display: none;
}
i{
  color:#fff;
  cursor: pointer;
}
header .logo{
  flex: 1;
  color:#fff;
  margin-left: 30px;
  text-transform: uppercase;
  font-size: 15px;
}
header .search-box{
  flex:1;
  position: relative;
}
.search-box input{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 30px;
  color: grey;
  font-size: 16px;
  text-align: center;
  padding-left: 5px;
  padding-right: 40px;
}
.search-box button{
  cursor: pointer;
  width:40px;
  height:40px;
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.9);
  background: green;

}
header ul{
  flex:2;
  display:flex;
  justify-content:space-evenly;
  

}
header ul li{
  list-style:none; 
  font-size: small;
  color: #fff;

  
}
header ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 3px;
 
}
header ul li a i{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 3px;
} 
header ul li a:hover{
  border-bottom: 2px solid cadetblue;
}
header .menu{
  font-size: 2.5rem;
  display:none;
  transition: transform 0.3s;
}
header .menu:hover{
  transform: translateY(-10px);
}
.nav--hidden{
  transform: translateY(100vh);
  box-shadow: none;
  
}
@media(max-width:1000px){
  .search-box button{
    position: absolute;
  }
  header ul{
    position: fixed;
    top: 100px;
    right:-100%;
    background: rgba(0,0,0,0.5);
    height: calc(100vh - 100px);
    width: 50%;
    flex-direction: colomn;
    display: grid;
    
    align-items:center;
    transition: right 0.5s linear;

  }
  header .menu{
    display:block;
    width: 100px;
    text-align: center;
  }
  #chk1:checked ~ ul{
    right: 0;
  }
}
header .dropdown-toggle{
  /* box-shadow: 0 0 10px #000; */
  background: rgba(0,0,0,0.5);
  color: #fff;
}
@media(max-width:500px){
  header .logo{
    font-size: 10px;
    margin-left: 8px;
  }
  header ul{
    width:100%;
  }
  header .logo h1{
    font-size: 25px;
  }
}
.carousel {
  display: flex;
  flex-wrap: wrap;
}
.carousel-item{
  height:100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size:cover ;
  background-size: cover;
  flex: 1 0 8rem;
}
.carousel-caption{
  bottom: 220px;
}
.carousel-caption h5{
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: morienda;

}
.carousel-caption a{
  text-transform: uppercase;
  background: #262626;
  padding: 10px 30px;
  display: inline-block;
  color: #fff;
  margin-top: 15px;

}
.carousel-item img{
  width: 100%;
  height: 100%;
}
.carousel-indicators{
  flex: 1 0 4rem;
}
@media(max-width:750px)
{
  .carousel-item{
    height:350px;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size:cover ;
    background-size: cover;
    flex: 1 0 8rem;
  }

}
.section{
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  /* width: 60%; */
  /* margin: 10rem auto 0 auto; */
}
.section img{
  height:300px;
  width: 500px;
  filter: grayscale(100%);
  border-radius: 60px 70px 40px 140px;
}
.section img:hover{
  filter: grayscale(0%);
}
.section h1{
  margin: 0;
  color: rgb(236, 9, 21);
  font-size: small;
}
.section h2{
  color: white;
}
.section p{
  color:grey;
  margin-right: 15px;
}
section .button1 button{
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  border: 0px;
  background-color: #ffffff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
}
.button1 button:hover{
  letter-spacing: 3px;
  background-color: #dc5d19;
  color:#ffffff;
  box-shadow: #dc5d19 0px 7px 29px 0px;
  /* transform: translateY(10px); */
}
 .button1 button:active{
  letter-spacing: 3px;
  background-color: #dc5d19;
  color:#ffffff;
  box-shadow: #dc5d19 0px 7px 29px 0px;
  transform: translateY(10px);
}

@media (max-width : 750px)
{
  .section h1,
  .section h2,
  .section p
  {
    padding-right: 0;
  }
}
@media (max-width: 750px)
{
  
  .section img{
      height:250px;
      width: 300px;
      filter: grayscale(100%);
      border-radius: 60px 70px 40px 140px;
  }
}

.container2{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:100px 50px;
  padding: 100px 50px;

}
.container2 .card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0,0,0,0.15);
  transition: 0.5s;
}
.container2 .card:hover{
  height: 400px;
}
.container2 .card .imgBx{
  position:absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.container2 .card:hover .imgBx{
  top: -100px;
  scale:0.75;
  box-shadow: 0 15px 45px rgba(0,0,0,0.2);


}
.container2 .card .imgBx img{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height: 100%;
  object-fit: cover;

}
.container2 .card .content{
  position: absolute;
  top: 255px;
  width: 100%;
  padding: 0 30px;
  height: 36px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.container2 .card:hover .content{
  top: 130px;
  height: 250px;
}
.container2 .card .content h2{
  font-size: 1.5em;
  font-weight: 700;
  color:var(--clr)
}
.container2 .card .content p{
  color: #333;
}

.container2 .card .content a{
  position: relative;
  top:15px;
  display: inline-block;
  padding: 12px 25px;
  background: var(--clr);
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}
.container3 {
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-size:xx-large;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  /* padding-inline-start: 28rem; */
}
.container3 {
  color:#fff;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  /* padding-inline-start: 30.5rem; */
}
@media (max-width :750px)
{
  .container3 .sectionHeading__subtitle{
    color: #1c0df0;
    font-weight:700;
    font-family: sans-serif;
    font-size:large;
    justify-content: center;
    align-items: center;
    /* padding-inline-start: 10rem; */
  }
  .container3 .sectionHeading__title{
    color:#fff;
    font-weight: 200;
    justify-content: center;
    align-items: center;
    align-items: center;
    /* padding-inline-start: 8.5rem; */
  }
}

#slider{
  height: 500px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container4{
  width: 1600px;
  margin: auto;

}
.subcontainer{
  width: 85%;
  margin: auto;

}
.slide-img{
  width: 100%;
  height: 175px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.slide-img:hover{
  box-shadow: 0 0 0 200px rgba(0, 0, 0, 0.9) inset;
}
.slide-img a{
  opacity: 0;
  text-decoration: none;
  transform: scale(0);
  transition: 0.8s;
  font-size: 1.5rem;
  color: white;
}
.slide-img:hover a{
  opacity: 1;
  transform: scale(1);
}
.img-1{
  background-image: url(img/dcr-3\ \(5\).jpeg);
}
.img-2{
  background-image: url(img/dcr.jpeg);
}
.img-3{
  background-image: url(img/dcr1.jpeg);
}
.img-4{
  background-image: url(img/dcr2.jpeg);
}
.img-5{
  background-image: url(img/pexels-troy-squillaci-2521619.jpg);
}
.container4 h3{
  color: #f2f2f2;
}
.container4 p {
  color: #f2f2f2;
}

@media(max-width: 750px){
  .slide-img{
    width: 100%px;
    height: 175px;
    border-radius: 2px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
  }
  #slider{
    height: 300px;
    width:110px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
}

 .underline {
  justify-content: center;
  /* padding-inline-start: 39rem; */
  color: #0749ad;
  align-items: center;
  /* padding-inline-start: 40.5rem; */
  color: #0749ad;
  margin-left: 20px;
}
.container5{
  padding: 15px 9%;
  padding-bottom: 100px;
  
}
.container5 .heading{
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}
.container5 .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}
.container5 .box-container .box{
  box-shadow: 0 5px 10px rgba(223, 218, 218, 0.2);
  border-radius: 5px;
  background: #000000;
  text-align: center;
  padding: 30px 20px;
  height: 250px;
  width: 200px;
}
.container5 .box-container .box img{
  height: 40px;
}
.container5 .box-container .box h3{
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}
.container5 .box-container .box p{
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}
.container5 .box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}
@media(max-width:768px){
  .container5{
    padding: 20px;
  }
  .container5 .box-container .box{
    box-shadow: 0 5px 10px rgba(223, 218, 218, 0.2);
    border-radius: 5px;
    background: #000000;
    text-align: center;
    padding: 20px 20px;
    height: 250px;
    width: 150px;
  }
}
section .button4{
  justify-content: center;
  display: flex;
  color: #000;
}
section .button4 button{
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  border: 0px;
  background-color: #ffffff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
}
.button4 button:hover{
  letter-spacing: 3px;
  background-color: #dc5d19;
  color:#ffffff;
  box-shadow: #dc5d19 0px 7px 29px 0px;
  /* transform: translateY(10px); */
}
.button4 button:active{
  letter-spacing: 3px;
  background-color: #dc5d19;
  color:#ffffff;
  box-shadow: #dc5d19 0px 7px 29px 0px;
  transform: translateY(10px);
}
section .underline1 {
  justify-content: center;
  color: #0749ad;
  margin-left: 20px;
  color: #0749ad;
}
.container6{
  padding: 15px 9%;
  padding-bottom: 100px;
  
}
.container6 .heading{
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}
.container6 .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 15px;
}
.container6 .box-container .box{
  box-shadow: 0 5px 10px rgba(223, 218, 218, 0.2);
  border-radius: 5px;
  background: #000000;
  text-align: center;
  padding: 30px 20px;
  height: 250px;
  width: 200px;
}
.container6 .box-container .box img{
  height: 40px;
}
.container6 .box-container .box h3{
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}
.container6 .box-container .box p{
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}
.container6 .box-container .box:hover{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}
@media(max-width:768px){
  .container6{
    padding: 20px;
  }
  .container6 .box-container .box{
    box-shadow: 0 5px 10px rgba(223, 218, 218, 0.2);
    border-radius: 5px;
    background: #000000;
    text-align: center;
    padding: 30px 20px;
    height: 250px;
    width: 250px;
    /* margin-left: 50px; */
  }
}




.layout-pt-sm {
  padding-top: 3.125rem;
}
.layout-pb-sm {
  padding-bottom: 3.125rem;
}
.x-gap-120 {
  margin-left: -3.75rem;
  margin-right: -3.75rem;
}

.x-gap-120 > * {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}
.y-gap-32 {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.y-gap-32 > * {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.d-flex {
  display: flex !important;
}
.img-flaticon{
  width: 100%;
  color: #fff;
 filter: drop-shadow(15px 5px 5px rgb(73, 71, 71));
}
.container7 h3{
  color: #f2f2f2;
}
.container7 .sectionHeading{
  color: #f2f2f2;
}
[data-anim^='slide-up'],
[data-anim-child^='slide-up'] {
  transform: translate3d(0, 2.125rem, 0);
}
[data-anim*="delay-1"],
[data-anim-child*="delay-1"] {
  transition-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

[data-anim*="delay-1"]::after,
[data-anim-child*="delay-1"]::after {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

[data-anim*="delay-1"] > *,
[data-anim-child*="delay-1"] > * {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

[data-anim*="delay-2"],
[data-anim-child*="delay-2"] {
  transition-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

[data-anim*="delay-2"]::after,
[data-anim-child*="delay-2"]::after {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

[data-anim*="delay-2"] > *,
[data-anim-child*="delay-2"] > * {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

[data-anim*="delay-3"],
[data-anim-child*="delay-3"] {
  transition-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

[data-anim*="delay-3"]::after,
[data-anim-child*="delay-3"]::after {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

[data-anim*="delay-3"] > *,
[data-anim-child*="delay-3"] > * {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

[data-anim*="delay-4"],
[data-anim-child*="delay-4"] {
  transition-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

[data-anim*="delay-4"]::after,
[data-anim-child*="delay-4"]::after {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

[data-anim*="delay-4"] > *,
[data-anim-child*="delay-4"] > * {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.size-xl {
  width: 4rem !important;
  height: 4rem !important;
}


@media (max-width: 1199px) {
.lg\:d-flex {
  display: flex !important;
}
}
@media (max-width: 991px) {
  .md\:d-flex {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  .sm\:d-flex {
    display: flex !important;
  }
}
@media (max-width: 575px) {
  .xs\:d-flex {
    display: flex !important;
  }
}
@media (max-width: 767px) {
  .sm\:x-gap-120 {
    margin-left: -3.75rem;
    margin-right: -3.75rem;
  }
  .sm\:x-gap-120 > * {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
  .sm\:y-gap-32 {
    margin-top: -1rem;
    margin-bottom: -1rem;
  }
  .sm\:y-gap-32 > * {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

}
.mt-24 {
  margin-top: 1.5rem !important;
}

@media (max-width: 1199px) {
  .lg\:mt-24 {
    margin-top: 1.5rem !important;
  }
}
@media (max-width: 991px) {
  .md\:mt-24 {
    margin-top: 1.5rem !important;
  }
}
@media (max-width: 767px) {
  .sm\:mt-24 {
    margin-top: 1.5rem !important;
  }
}
@media (max-width: 575px) {
  .xs\:mt-24 {
    margin-top: 1.5rem !important;
  }
}


/*--------------------------------------------------
	01. Variables
---------------------------------------------------*/
:root {
  --text-xs:   0.75rem;
  --text-sm:   16px;
  --text-base: 1rem;
  --text-lg:   1.125rem;
  --text-xl:   1.25rem;
  --text-2xl:  1.5625rem;
  --text-3xl:  1.875rem;
  --text-4xl:  2.1875rem;
  --text-5xl:  2.5rem;
  --text-6xl:  4.375rem;
}
.text-sm {
  font-size: var(--text-sm) !important;
}
@media (max-width: 1199px) {
 
  .lg\:text-sm {
    font-size: var(--text-sm) !important;
  }
}
@media (max-width: 991px) {
 
  .md\:text-sm {
    font-size: var(--text-sm) !important;
  }
}
@media (max-width: 767px) {

  .sm\:text-sm {
    font-size: var(--text-sm) !important;
  }
}

@media (max-width: 575px) {

  .xs\:text-sm {
    font-size: var(--text-sm) !important;
  }
}
/* #slidyy{
  margin: 0 auto;;
  width:800px;
  max-width: 100%;
  text-align: center;
}
#slidyy input[type=radio] {
  display: none;
}
#slidyy label{
  cursor: pointer;
  text-decoration: none;
}
#slides{
  padding: 10px;
  border: 3px solid #ccc;
  background: #000000;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slides .inner {
  transition:margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  width: 400%;
  line-height: 0;
  height: 200px;

}
#slides .slide{
  width: 25%;
  float: left;
  display: block;
  height: 100%;
  color: #fff;
}
#slides .slide_1 {
  background: #000;
}
#slides .slide_2 {
  background: #000;
}
#slides .slide_3 {
  background: #000;
}
.slide_content {
  padding: 10px;
}
#controls {
  margin: -130px 0 0 0 ;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls  .label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50ox;
  height: 50px;
  opacity: .4;
}
#controls  .label:hover{
  opacity: 1;
}
#slide1:checked ~ #controls label:ntn-child(2),
#slide2:checked ~ #controls label:ntn-child(3),
#slide3:checked ~ #controls label:ntn-child(1){
  background: url(https://cdn-icons-png.freepik.com/256/7618/7618283.png?uid=R138155248&ga=GA1.1.60991105.1708071344&semt=ais) no-repeat;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:ntn-last-child(2),
#slide2:checked ~ #controls label:ntn-last-child(3),
#slide3:checked ~ #controls label:ntn-last-child(1){
  background: url(https://cdn-icons-png.freepik.com/256/7618/7618283.png?uid=R138155248&ga=GA1.1.60991105.1708071344&semt=ais) no-repeat;
  float: left;
  margin: 0 0 0 -50px ;
  display: block;
}
#bullets {
  margin: 100px 0 0;
  text-align: center;
}
#bullets label{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
}
#slide1 :checked ~ #bullets label:nth-child(1),
#slide2 :checked ~ #bullets label:nth-child(2),
#slide3 :checked ~ #bullets label:nth-child(3) {
  background: #dfdada;
}
@media screen and (max-width:900px) {
  #slide1:checked ~ #controls label:ntn-child(2),
  #slide2:checked ~ #controls label:ntn-child(3),
  #slide3:checked ~ #controls label:ntn-child(1),
  #slide1:checked ~ #controls label:ntn-last-child(2),
  #slide2:checked ~ #controls label:ntn-last-child(3),
  #slide3:checked ~ #controls label:ntn-last-child(1){
 margin: 0;
}
} */
.sectionHeading__subtitle {
  color: #5700e3;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 16px;
}

.sectionHeading__title {
  font-size: 30px;
  font-weight: 600;
  line-height: 41px;
  font-family: Jost, sans-serif;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .sectionHeading__title {
    font-size: 25px;
    line-height: 29px;
  }
}

.sectionHeading__text {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.7;
  text-align: justify;
}

.sectionHeading__button {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .sectionHeading.-about .sectionHeading__title {
    font-size: 25px;
    font-weight: 600;
    line-height: 29px;
  }
  .sectionHeading.-about .sectionHeading__text {
    margin-top: 30px;
    font-size: 14px;
    line-height: 24px;
  }
  .sectionHeading.-about .sectionHeading__button {
    margin-top: 30px;
  }
}

.sectionHeading.-top-line .sectionHeading__subtitle {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sectionHeading.-top-line .sectionHeading__subtitle::before {
  content: "";
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 64px;
  height: 1px;
  background-color: currentColor;
}

@media (max-width: 991px) {
  .sectionHeading.-top-line.-md .sectionHeading__subtitle {
    align-items: flex-start !important;
  }
}

.sectionHeading.-left-line .sectionHeading__subtitle {
  display: flex;
  align-items: center;
}

.sectionHeading.-left-line .sectionHeading__subtitle::before {
  content: "";
  position: relative;
  margin-right: 1.25rem;
  width: 4rem;
  height: 1px;
  background-color: currentColor;
}

@media (max-width: 767px) {
  .sectionHeading.-left-line .sectionHeading__subtitle {
    flex-direction: column;
    align-items: flex-start;
  }
  .sectionHeading.-left-line .sectionHeading__subtitle::before {
    margin: 0;
    margin-bottom: 1.25rem;
  }
}
.container8 h5{
  color: #6c69ff;
}
.testimonials__comment{
  font-size: 20px;
}
/* ------------------- footer content------------------- */

footer{
  position:relative;
  width:100%;
  background: #0749ad;
  min-height: 100px;
  padding:20px 50px;
  justify-content: center;
  flex-direction: column;
}
footer .social_icon ul{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

footer .social_icon li{
    list-style: none;
    display: inline-block;
    font-size: 23px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.instagram{
  /* border: 2px solid #ff0095; */
  color: #f70a88;
}
/* .twitter{
  border: 2px solid #1c9ff1;
  color: #1c9ff1;
} */

.youtube{
  /* border: 2px solid #ff0000; */
  color: #ff0000;
}

.facebook{
  /* border: 2px solid #0679e6; */
  color: #0679e6;
}
/* #####################  Hover EFFECTS ############################# */

.icon{
  transition: 0.6s;
}

li:hover .icon1{
  transform: rotateY(360deg);
  text-shadow: 0px 0px 1px #ff0095;
}

li:hover .icon2{
  transform: rotateY(360deg);
  text-shadow: 0px 0px 1px #1c9ff1;
}

li:hover .icon3{
  transform: rotateY(360deg);
  text-shadow: 0px 0px 1px #ff0000;
}

li:hover .icon4{
  transform: rotateY(360deg);
  text-shadow: 0px 0px 1px #0679e6;
}

li{
  transition: 0.4s;
  transition-delay: 0.2s;
}

/* .instagram:hover{
  box-shadow: 0px 0px 7px #ff0095 inset,
              0px 0px 7px #ff0095;
}

.twitter:hover{
  box-shadow: 0px 0px 7px #1c9ff1 inset,
              0px 0px 7px #1c9ff1;
}

.youtube:hover{
  box-shadow: 0px 0px 7px #ff0000 inset,
              0px 0px 7px #ff0000;
}

.facebook:hover{
  box-shadow: 0px 0px 7px #0679e6 inset,
              0px 0px 7px #0679e6;
} */
footer .social_icon
{
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .menu-footer
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
footer .social_icon li,
footer .menu-footer li{
  list-style: none;
}
footer .social_icon li a{
  font-size: 1em;
  color:#fff;
  margin:0 10px;
  display: inline-block;
  transform: 0.5s;
}
footer .social_icon li a:hover{
  transform:translateY(-10px)
}
footer .social_icon .facebook:hover{
  box-shadow: 0px 0px 7px #0679e6 insert,
  0px 0px 7px #0679e6;
}

footer .menu-footer li a{
  font-size: 1.2em;
  color:#fff;
  margin:0 10px;
  display: inline-block;
  transform: 0.5s;
}
footer .menu-footer li a:hover{
  opacity: 1;
}
footer p{
  color:#fff;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 1.1em;
}
footer .wave{
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(img/wave.png);
  background-size: 500px 100px;
}
footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave2{
  z-index:999;
  opacity: 0.5;
  bottom: 10px;
  animation:  animateWave 4s linear infinite;
}
footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave_02 3s linear infinite;
}
footer .wave#wave4{
  z-index:999;
  opacity: 0.7;
  bottom: 20px;
  animation:  animateWave 3s linear infinite;
}
@keyframes animateWave
{
  0%
  {
  background-position-x:1000px;
  }
  100%
  {
    background-position-x:0px;
  }
}
@keyframes animateWave_02
{
  0%
  {
  background-position-x:0px;
  }
  100%
  {
    background-position-x:1000px;
  }
}
@keyframes animateWave_03
{
  0%
  {
  background-position-x:1000px;
  }
  100%
  {
    background-position-x:0px;
  }
}
@keyframes animateWave_04
{
  0%
  {
  background-position-x:0px;
  }
  100%
  {
    background-position-x:1000px;
  }
}
.footer-sign{
  border-bottom: 1px solid #fff;
}
section .button2 button{
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  border: 0px;
  background-color: #ffffff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
}
.button2 button:hover{
  letter-spacing: 3px;
  background-color: #dc5d19;
  color:#ffffff;
  box-shadow: #dc5d19 0px 7px 29px 0px;
  /* transform: translateY(10px); */
}
.button2 button:active{
  letter-spacing: 3px;
  background-color: #dc5d19;
  color:#ffffff;
  box-shadow: #dc5d19 0px 7px 29px 0px;
  transform: translateY(10px);
}
.footer__top {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (max-width: 991px) {
  .footer__top {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.footer__item p {
  color: #fff;
  line-height: 22px;
  padding-bottom: 10px;
}

.footer__item a {
  color: #fff;
  line-height: 22px;
}
.footer__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
}
.footer__content {
  margin-top: 30px;
}

.footer__content__item {
  line-height: 1;
}

.footer__content__item span {
  color: #B88768;
}

.footer__content__item + .footer__content__item {
  margin-top: 20px;
}

footer .button3 button{
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  border: 0px;
  background-color: #ffffff;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
}
.button3 button:hover{
  letter-spacing: 3px;
  background-color: #dc5d19;
  color:#ffffff;
  box-shadow: #dc5d19 0px 7px 29px 0px;
  /* transform: translateY(10px); */
}
.button3 button:active{
  letter-spacing: 3px;
  background-color: #dc5d19;
  color:#ffffff;
  box-shadow: #dc5d19 0px 7px 29px 0px;
  transform: translateY(10px);
}
.footer.-light .footer__bottom {
  border-top: 1px solid #fff;
 
}

.footer.-light .footer__bottom_text {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.container0 .footer__bottom_text{
  justify-content: flex-start;
}
.container0 .footer__bottom_text1{
  justify-content: flex-end;
  color: rgb(87, 87, 234);
  font-size: 12px;
  line-height: 24px;
}
.footer__bottom {
  padding: 5px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer__bottom_text {
  color: #A8A7A5;
  font-size: 16px;
  line-height: 24px;
}
.footer__bottom {
  border-top: 1px solid #0749ad;
  background: #0749ad;
}
.footer.-light .footer__bottom_text {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}