body{
    background:#9e9c9c;
    background-size: cover;
    height: 100vh;
    background-position: center;
    /* overflow-x: hidden; */
  }
 .picture img{
    height: 700px;
    width: 100%;
}
@media(max-width:771px){
    .picture img{
        height: 500px;
        width: 100%;
    }
}
.about-sec .sectionHeading__subtitle1{
    color: orangered;
}
.sectionHeading h5{
    color: rgb(8, 118, 228);
}
.sectionHeading  p{
    color: rgb(246, 248, 249);
}
/* .row .img-founder{
    margin-left: 50px;
} */
.row .img-founder img{
    height: 300px;
    width: 400px;
    /* margin-left: 50px; */
}

.row1 .sectionHeading__title{
    color: blue;
}
.row1 .sectionHeading__title span{
    color: orangered;
}
.row1 p{
    color: #fff;
}
.row1 h6{
    color:orangered;
}

.container10{
    /* justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
    gap: 100px 50px;
    padding: 100px 50px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:100px 50px;
    padding: 100px 50px;

}
.container10 .box{
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    transition: 0.5s;
    
}
.container10 .box:hover{
    z-index: 1;
    transform: scale(1.25);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
}
.container10 .box .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgb(31, 12, 234), #000 );
    mix-blend-mode: multiply;
    opacity: 0;
    transition: 0.5s;
}
.container10 .box:hover .imgBx:before{
    opacity: 1;
}
.container10 .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    

}
.container10 .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.container10 .box .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    padding: 20px;
    align-items: flex-end;
}
.container10 .box .content h2{
    color: #fff;
    transition: 0.3s;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 20px;
    transform: translateY(200px);
}
.container10 .box:hover .content h2{
    transform: translateY(0);
    transition-delay: 0.4s;
}
.container10 .box .content p{
   color: #fff;
   transform: translateY(200px);
   transition: 0.3s;
   font-size: 14px;
}
.container10 .box:hover .content p{
    transform: translateY(0);
    transition-delay: 0.5s;
}